on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    - SNOW-*

concurrency:
  # older builds for the same pull request number or branch should be cancelled
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      cpp: ${{ steps.filter.outputs.cpp }}
      java: ${{ steps.filter.outputs.java }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            cpp:
              - 'cpp/**'
            java:
              - 'java/**'

  test-java:
    name: "Test java"
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.java == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Run tests
        working-directory: ./java
        shell: bash
        run: ./mvnw package

  test-cpp:
    name: "Test cpp"
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.cpp == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache apt packages
        uses: actions/cache@v4
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/main.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-
      - name: Install dependencies
        run: |
          set -x
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev
      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.2.x'
      - name: Build
        working-directory: ./cpp
        shell: bash
        run: |
          cmake --build cmake-build -- -j $(nproc)
      - name: Tests
        working-directory: ./cpp
        shell: bash
        run: |
          ctest -j $(nproc) -C Debug --test-dir cmake-build --output-on-failure
