on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - SNOW-*

concurrency:
  # older builds for the same pull request number or branch should be cancelled
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  test-java:
    name: "Test java"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Run tests
        working-directory: ./java
        shell: bash
        run: ./mvnw package
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./java/target/site/jacoco/jacoco.xml
          name: java-coverage
          fail_ci_if_error: true

  test-cpp:
    name: "Test cpp"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache apt packages
        uses: actions/cache@v4
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/main.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-
      - name: Install dependencies
        run: |
          set -xe
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev lcov valgrind
          wget https://github.com/Kitware/CMake/releases/download/v4.2.1/cmake-4.2.1-linux-x86_64.sh
          sudo sh cmake-4.2.1-linux-x86_64.sh --skip-license --prefix=/usr/local
          sudo rm cmake-4.2.1-linux-x86_64.sh
          cmake --version
      - name: Build
        working-directory: ./cpp
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=ON -B cmake-build
          cmake --build cmake-build -- -j
      - name: Run tests and generate coverage
        working-directory: ./cpp
        shell: bash
        run: |
          cmake --build cmake-build --target coverage -- -j
      - name: Check for memory leaks with valgrind
        working-directory: ./cpp
        shell: bash
        run: |
          valgrind --leak-check=full --show-leak-kinds=all --error-exitcode=1 \
            --errors-for-leak-kinds=definite,indirect,possible \
            ctest --test-dir cmake-build --output-on-failure
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./cpp/cmake-build/coverage_filtered.info
          name: cpp-coverage
          fail_ci_if_error: true
          