on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    - SNOW-*

concurrency:
  # older builds for the same pull request number or branch should be cancelled
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  test-java:
    name: "Test java"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Run tests
        working-directory: ./java
        shell: bash
        run: ./mvnw package

  test-cpp:
    name: "Test cpp"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache apt packages
        uses: actions/cache@v4
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/main.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-
      - name: Install dependencies
        run: |
          set -xe
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev lcov
      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.2.x'
      - name: Build
        working-directory: ./cpp
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=ON -B cmake-build
          cmake --build cmake-build -- -j $(nproc)
      - name: Run tests and generate coverage
        working-directory: ./cpp
        shell: bash
        run: |
          cmake --build cmake-build --target coverage -- -j $(nproc)
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./cpp/cmake-build/coverage_filtered.info
          flags: cpp
          name: cpp-coverage
          fail_ci_if_error: true
